@import "src/variable";

.create-article {
  padding: 48px 32px;
  width: 938px;
  background: #fff;
  box-shadow: $box-shadow;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 20px;

  &__title {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin: 0 0 22px;
  }

  &__label {
    margin: 0 0 5px;
  }

  &__input {
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 8px;
    margin: 0 0 12px;

    &::placeholder {
      color: #BFBFBF;
    }
  }

  &__textarea {
    border-radius: 4px;
    height: 168px;
    border: 1px solid #D9D9D9;
    resize: none;
    font-size: 16px;
    padding: 12px 8px;
    margin: 0 0 12px;
    width: 100%;

    &::placeholder {
      color: #BFBFBF;
    }
  }

  &__input-tag {
    width: 300px;
    margin: 0 20px 0 0;
  }

  &__tag-block {
    display: flex;
    align-items: end;
  }

  &__btn {
    width: 320px;
  }

  &__btn-add {
    width: 150px;
  }
}

.tag {
  margin: 0 20px 8px 0;

  &__wrap {
    display: flex;
  }

  &__item {
    margin: 0 3px 0 0;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 3px 6px;
    border-radius: 2px;
  }

  &__added-tag {
    display: flex;
    margin: 20px 0;
    flex-wrap: wrap;
    gap: 12px;
  }

  &__delete {
    border-radius: 2px;
    padding: 3px 6px;
    font-size: 12px;
    background: rgba(231, 0, 6, 0.4);
  }
}