@import 'antd/dist/antd.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}
#root{
  height: 100%;
}

a {
  text-decoration: none;
}

a:focus,
a:active, a:visited {
  outline: none;
  text-decoration: none;
}

input, textarea {
  outline: none;
  font-size: inherit;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

body {
  line-height: 1.2;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.btn {
  border-radius: 5px;
  background: #fff;
  padding: 5px 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s ease;

  &:disabled {
    cursor: not-allowed;
    background: #8C8C8C !important;
  }

  &__medium {
    padding: 9px 11px;
  }

  &__large {
    padding: 17px 18px;
    font-size: 18px;
  }

  &__for-modal {
    font-size: 16px;
    padding: 12px 35px;
  }

  &__danger {
    border: 1px solid #F5222D;
    color: #F5222D;

    &:hover {
      background: rgba(245, 34, 45, 0.21);
    }
  }

  &__primary {
    border: 1px solid #1890FF;
    color: #1890FF;

    &:hover {
      background: rgba(24, 144, 255, 0.2);
    }
  }

  &__success {
    border: 1px solid #52C41A;
    color: #52C41A;

    &:hover {
      background: rgba(82, 196, 26, 0.16);
    }
  }

  &__light {
    color: #262626;
    border: 1px solid #D9D9D9;

    &:hover {
      background: #f1f1f1;
    }
  }

  &__light-br {
    color: #262626;
    border: 1px solid #262626;

    &:hover {
      background: #f1f1f1;
    }
  }

  &__primary-bg {
    background: #1890FF;
    color: #fff;

    &:hover {
      background: #1b73d8;
    }
  }
}

.link {
  color: #1890FF;
  margin: 0 4px;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #E5E5E5;
  color: #262626
}

.wrapper[data-theme="dark"] {
  background: #494949;
  color: #e5e5e5
}

.container {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: 952px) {
    max-width: 750px;
  }
  @media (max-width: 767.98px) {
    max-width: 550px;
    padding: 0 10px;
  }
}

textarea.input-error, input.input-error {
  border: 1px solid #f52019;
}

.not-found {
  padding: 0 16px;
  font-size: 32px;
}
